html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $bodyColor;
}

body>* {
    flex-grow: 0;
    flex-shrink: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
}

abbr {
    text-decoration: none;
}

input,
button,
textarea {
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

dialog {
    border-radius: 5px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

figure {
    padding: 0;
    margin: 0;
}

legend {
    padding: 0;
}